# Copy this file to vault.yml, change the values below and encrypt it using ansible-vault.
vault_user_fullname: "Lab User"
vault_ansible_user: lab
vault_ansible_become_password: "insecure" # Become password will also be the users password.